#root {
  display: flex;
  text-align: center;
  width: 100%;
  font-size: 3.2mm;
}

header {
  margin: 2%;
  height: 60%;
  border-style: double;
}

.App {
  width: 100%;
}

.header-wrapper {
  height: inherit;
  padding: 2%;
}

.header-wrapper a {
  float: left;
  width: 10%;
}

.header-wrapper nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
