#root {
  display: flex;
  text-align: center;
  width: 100%;
  font-size: 3.2mm;
}

header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-flow: column;
  height: 80px;
  border-style: double;
}

.App {
  width: 100%;
  margin: 2%;
}

.header__wrapper {
  height: inherit;
  padding: 2%;
}

.header__wrapper a {
  float: left;
  width: 25%;
  display: inline-flex;
  align-items: center;
}

.header__wrapper nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  height: 70px;
  align-items: center;
}

.nav-active:hover {
  color: blueviolet;
}

main {
  margin-top: 10%;
}

.misdemeanours__select{
  background-color: #ffffff;
    color: #242424;
    margin: 20px;
}

.misdemeanours__table{
  width: 100%;
}